* {
    padding: 0rem;
    margin: 0rem;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
      font-family: 'Nikeflix', sans-serif;
  }
  .whatsapp{
    margin: 0rem 1rem 0rem 0rem;
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 0.75rem black);
  }
  
  body{
      background-image: url('bg.png.jpg');
  }
  
  .box1 {
    display: flex;
    justify-content: space-evenly;
  }
  
  .vivek {
    width: 8rem;
    height: 8rem;
   
  }
  .subabout{
    height: 16rem;
    background-color: #C7D0FF36;
  }
  .about {
    width: 80%;
    height: 15rem;
    background-color: #C7D0FF36;
    margin: 1rem auto;
    padding: 1rem 0rem 0rem 1rem;
  box-shadow: inset 0.25rem 0.25rem #0000ff24;
  }
  
  .box2,
  .box3{
    width: 80%;
    background-color: #C7D0FF36;
    margin: 1rem auto;
    padding: 1rem 0rem 0rem 1rem;
  box-shadow: inset 0.25rem 0.25rem #0000ff24;
  }
  .box2{
    height: 25rem;
  }
  .circumstances{
    display: flex;
    justify-content: center;

  }
  .box3 {
    height: 20rem;
  }
  
  .payment {
    display: none;
  }
  
  .box4 {
    margin: 0rem 0rem 0rem 1.5rem;
  }
  
  #paymentbutton {
    display: flex;
    justify-content: center;
    margin: 0.4rem 0rem 0rem 2.5rem;
  }
  .paymentbutton{
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem;
  }
  .bankdetails{
    margin: 3rem 3rem  ;
  }
  .onlinepay{
    width: 8rem;
    height: 8rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    background-color: white;
  border-radius: 4rem;
  }
  .googleonlinepay{
    width: 10rem;
    height: 8rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
  }
  .scanerphonepe{
    display: none;
  }
  .scanergooglepay{
    display: none;
  }
  .scanerpaytm{
    display: none;
  }
  .imgpay{
    width:20rem ;
    height: 33rem;
   margin: 0rem 1.5rem;
  }
  .info{
    margin: 0rem 1.5rem;
  }
  .link {
    list-style: none;
    color: black;
    text-decoration: none;
  }